
<!DOCTYPE html>
<html>
<head>
  <title>GeoTracker</title>
  <link rel="stylesheet" type="text/css" href="/css/semantic/dist/semantic.css">
  <script src="css/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/mapstyle.css">
</head>
<body>
  <header>
  <div class="ui borderless fixed menu">
  <div class="ui container">
    <div class="header item">
    <h1><i class="marker icon"></i>GeoTracker</h1>
    </div>
        {{#if user}}
        <a href="/" class="item">Dashboard</a>
        <a href="/users/logout" class="item">Logout</a>
        {{else}}
        <a href="/users/login" class="item">Login</a>
        <a href="/users/register" class="item">Register</a>
        {{/if}}
  </div>
  </div>
  </header>
  <main>
    <div class="">
    {{#if success_msg}}
      <p>{{success_msg}}</p>
    {{/if}}
    {{#if error_msg}}
      <p>{{error_msg}}</p>
    {{/if}}
    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
    {{{body}}}
  </main>
  <footer>
    <div class="ui vertical footer segment">
      <div class="ui container">
      <p>&copy; 2016 GeoTracker, Inc.</p>
      </div>
    </div>
  </footer>
  </div>
</body>
</html>
